# Ignore all directories, and all sub-directories, and it's contents:
/*

!.vim/
.vim/*
!.vim/snippets
!.w3m/
.w3m/*
!.w3m/bookmark.html
!.w3m/config
!.w3m/keymap
!.bash/
!.bashrc
!.bash_profile
.bash_history
!.gitconfig
!.gemrc
!.inputrc
!.irbrc
!.tmux.conf
!.tmuxgo
!.tmuxgo-rails
!.vimrc
!bootstrap.sh
!.bashrc-ubuntu
!.bashrc-macos
