[user]
	name = minimul
  email = zarski@gmail.com
[core]
  editor = vim
[diff]
[color]
  ui = auto
[alias]
  st = status
  sh = stash
  ci = commit
  br = branch
  brd = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:relative) %09 %(refname:short)'
  co = checkout
  pp = log --pretty=oneline
  di = diff
  dc = diff --cached
  po = push origin
  pom = push origin master
  pop = push origin production
  pod = push origin development
  pup = pull origin production
  pum = pull origin master
  pus = pull origin staging
  pud = pull origin development
  puum = pull upstream master
  fup = fetch upstream
  com = checkout master
  cop = checkout production
  cos = checkout staging
  cod = checkout development
  pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

[merge]
  tool = vimdiff
[github]
  user = minimul
[heroku]
  account = personal
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
