# .erb files

# Includes html.snippets
extends html

snippet rc
	<% ${0} %>
snippet rce
	<%= ${1} %>
snippet %
	<% ${0} %>
snippet =
	<%= ${1} %>
snippet el
	<% else %>
snippet end
	<% end %>
snippet ead
	<% ${1}.each do |${2}| %>
		${0}
	<% end %>
