snippet sop
	save_and_open_page
snippet sss
	save_and_open_screenshot(take_full_page_screenshot)
snippet rep
	Rails.env.production?
snippet red
	Rails.env.development?
snippet ret
	Rails.env.test?
snippet set
	setup do
		${0}
	end
